{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3Care</title>
    <link rel="shortcut icon" href="{% static '/img/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    
</head>
<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
        </nav>
        <section class="textos-header">
            <h1>Ayudemos al medioambiente</h1>
            <h2>Informate y entretienete con nosotros</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C145.31,218.59 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor nuestro-proyecto">
            <h2 class="titulo">Nuestro Proyecto</h2>
            <div class="contenedor-nuestro-proyecto">
                <img src="{% static '/img/ccimg.jpg' %}" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Conoce la realidad</h3>
                    <p>Con el pasar de los años nosotros y el mundo nos vemos afectados</p>
                    <h3><span>2</span>Te ayudamos de la mejor manera</h3>
                    <p>textaaaaaamen</p>
                </div>
            </div>
        </section>   
        <section class="link-juego">
            <div class="contenedor">
                <h2 class="titulo">¿Quieres Jugar?</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="{% static '/img/Quiz.jpg' %}" alt=""><!-- Al Quiz -->
                        <div class="hover-galeria">
                            <img src="{% static '/img/play.png' %}" alt=""> <!-- Click Quiz-->
                            <p>¡A JUGAR!</p>
                        </div>
                    </div>
                </div>  
            </div>
        </section>
        <div class="Sobre-nuestro-proyecto contenedor">
            <h2 class="titulo">Colaboremos entre todos</h2>
            <p>anashe</p>
        </div> 
    </main>
</body>
</html>