{% load static %}
<!DOCTYPE HTML>

<html lang="es">

	<head>
		<title>Noticias</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static '/css/main.css' %}"/>
		<noscript><link rel="stylesheet" href="{% static '/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="{% static '/img/fulls/01.jpg' %}" class="image"><img src="{% static '/img/thumbs/01.jpg' %}" alt="" /></a>
							<h2>96% de los chilenos opina que el país está poco o nada preparado para enfrentar cambio climático y sequía</h2>
							<p>Para un 80% de chilenos, la próxima temporada la situación de sequía e incendios será igual o peor que la anterior.</p>
						</article>
						<article class="thumb">
							<a href="{% static '/img/fulls/02.jpg' %}" class="image"><img src="{% static '/img/thumbs/02.jpg' %}" alt="" /></a>
							<h2>La Inteligencia Artificial irrumpe como herramienta imprescindible para combatir el cambio climático</h2>
							<p>Sometida a un debate sobre la ética de esta tecnología y sobre los riesgos que para la humanidad supone que las máquinas puedan llegar a ser completamente autónomas y hasta superar a partir del aprendizaje automático a la propia mente humana que las diseña, la Inteligencia Artificial es para los expertos una herramienta imprescindible para combatir el desafío del cambio climático.</p>
						</article>
						<article class="thumb">
							<a href="{% static '/img/fulls/03.jpg' %}" class="image"><img src="{% static '/img/thumbs/03.jpg' %}" alt="" /></a>
							<h2>Países en desarrollo presionan al mundo rico para que luche mejor contra cambio climático en COP28</h2>
							<p>Los dirigentes de las naciones en vías de desarrollo dieron inicio el sábado al segundo día de la cumbre climática de la ONU presionando a los países industrializados ricos para que compartan sus conocimientos en la lucha contra el calentamiento global.</p>
						</article>
						<article class="thumb">
							<a href="{% static '/img/fulls/04.jpg' %}" class="image"><img src="{% static '/img/thumbs/04.jpg' %}" alt="" /></a>
							<h2>No superaremos el cambio climático sin América latina y el Caribe</h2>
							<p>La solución de la crisis climática pasa inevitablemente por América Latina y el Caribe. Esta afirmación puede sorprender a algunos (no estamos acostumbrados a que la región sea protagonista de grandes tendencias globales), pero es necesario tenerla en cuenta para dimensionar nuestro papel en la sostenibilidad del planeta.</p>
						</article>
						<article class="thumb">
							<a href="{% static '/img/fulls/05.jpg' %}" class="image"><img src="{% static '/img/thumbs/05.jpg' %}" alt="" /></a>
							<h2>Expertas del Comité de Cambio Climático del Reino Unido llegan a Chile a asesorar la implementación de la Ley Marco de Cambio Climático</h2>
							<p>En un esfuerzo conjunto por abordar los desafíos del cambio climático, esta semana Chile recibirá la visita de dos de las integrantes del Comité de Cambio Climático del Reino Unido, Sasha Abraham y Emily Nurse, quienes gracias al apoyo de la embajada británica en Chile estarán desde el 15 al 17 de noviembre en el país para explorar, de manera conjunta, cómo la Ley Marco de Cambio Climático puede avanzar, basándose en elementos clave de la legislación británica, en particular en el uso de evidencia científica para la toma de decisiones.</p>
						</article>
						<article class="thumb">
							<a href="{% static '/img/fulls/06.jpg' %}" class="image"><img src="{% static '/img/thumbs/06.jpg' %}" alt="" /></a>
							<h2>“Pasos de bebé”: la dura denuncia de la ONU por la actitud de los países frente al cambio climático</h2>
							<p>
								El secretario ejecutivo de la Convención Marco de Cambio Climático de la ONU, Simon Stiell, ha denunciado que la comunidad internacional está dando pequeños pasos “de bebé”, “demasiado lentos”, en un mundo “inestable y carente de resiliencia” para encontrar las mejores respuestas a los complejos impactos climáticos y ha solicitado que todas las partes aceleren la acción, muestren su compromiso y sean claros y transparentes porque el mundo les hará “rendir cuentas de lo que hagan o dejen de hacer”.</p>
						</article>
						<article class="thumb">
							<a href="{% static '/img/fulls/07.jpg' %}" class="image"><img src="{% static '/img/thumbs/07.jpg' %}" alt="" /></a>
							<h2>El cambio climático está transformando la experiencia de ir a un concierto</h2>
							<p>El cambio climático afectará los conciertos y festivales de música que se celebran al aire libre, por lo que este tipo de espectáculos deberán adaptarse a climas cada vez más cálidos y a otro tipo de fenómenos como lluvias, tormentas y tornados.

								"El cambio climático no solo afecta aspectos abstractos de nuestra vida. Nuestras actividades de ocio, como el ejercicio, pero también la música en vivo, se ven afectadas”, dijo Nubia Armond, geógrafa de la Universidad Indiana Bloomington, en entrevista con The Guardian.</p>
						</article>
						<article class="thumb">
							<a href="{% static '/img/fulls/08.jpg' %}" class="image"><img src="{% static '/img/thumbs/08.jpg' %}" alt="" /></a>
							<h2>Egipto pide fondos para países en desarrollo ante cambio climático</h2>
							<p> Los países en desarrollo necesitan 160 mil millones de dólares al año para adaptarse al cambio climático, alertó hoy aquí la ministra egipcia de Medio Ambiente, Yasmine Fouad. Al intervenir en un evento celebrado en el marco de la 28 Conferencia de Naciones Unidas sobre el Cambio Climático (COP28), en esta ciudad emiratí, la funcionaria señaló que la cifra actual no supera los 22 mil millones de dólares.</p>
						</article>
						<article class="thumb">
							<a href="{% static '/img/fulls/09.jpg' %}" class="image"><img src="{% static '/img/thumbs/09.jpg' %}" alt="" /></a>
							<h2>La ecoansiedad, el socavón emocional del cambio climático</h2>
							<p>La "ecoansiedad" es un trastorno psicológico relacionado con la preocupación crónica por el cambio climático. La psicóloga Colomba Godoy Arteaga de la Unidad de Apoyo Psicosocial al Personal Universitario UdeC describe cómo esta preocupación puede llevar a alteraciones del sueño, ansiedad y crisis de pánico.</p>
						</article>
						<article class="thumb">
							<a href="{% static '/img/fulls/10.jpg' %}" class="image"><img src="{% static '/img/thumbs/10.jpg' %}" alt="" /></a>
							<h2>Siria comprometida con la acción para enfrentar el cambio climático</h2>
							<p>Es necesario unir los esfuerzos para impulsar el trabajo climático y acelerar la reducción de emisiones mediante la transformación en el sector de la energía, la gestión integral y sostenible del uso de la tierra, dijo Arnous.

								También la activación de los sistemas de prevención de pérdidas y daños, y garantizar que los países cumplan con sus compromisos en relación con la labor climática, añadió.
								
								Denunció que la guerra terrorista desarrollada contra Siria desde 2011 y las medidas económicas coercitivas unilaterales impuestas por Estados Unidos y los países de la Unión Europea agravaron el sufrimiento de los sirios debido a los efectos del cambio climático.</p>
						</article>
						<article class="thumb">
							<a href="{% static '/img/fulls/11.jpg' %}" class="image"><img src="{% static '/img/thumbs/11.jpg' %}" alt="" /></a>
							<h2>El cáncer y el cambio climático: peligros para la salud por catástrofes que no son naturales</h2>
							<p>Durante cuatro meses en 2017, hubo cuatro catástrofes mortales en los Estados Unidos: los huracanes Harvey, Irma y María, y los incendios forestales en California. Es probable que el cambio climático agravara estas catástrofes.

								En ese momento, se sabía poco sobre los posibles vínculos entre el cambio climático y el cáncer. Pero después de estas catástrofes, los investigadores comenzaron a estudiar la forma en que estos fenómenos climáticos afectaban a las personas con cáncer. Hoy existen cada vez más pruebas de que las consecuencias del cambio climático influyen en muchos aspectos del cáncer. Por ejemplo, los incendios forestales más frecuentes, las sequías y olas de calor prolongadas, y las tormentas tropicales más fuertes e intensas.odales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="{% static '/img/fulls/12.jpg' %}" class="image"><img src="{% static '/img/thumbs/12.jpg' %}" alt="" /></a>
							<h2>"Es la primera vez en la historia que estamos tan cerca": el calentamiento global superará el límite crucial de 1,5 ºC para 2027, según los expertos</h2>
							<p>El calentamiento del planeta probablemente superará un límite clave de temperatura por primera vez en los próximos 5 años, predicen los científicos. Los investigadores indican que actualmente hay un 66% de probabilidades de que superemos el umbral de 1,5 ºC de calentamiento entre ahora y 2027. El aumento de probabilidades de que eso ocurra se debe a las emisiones causadas por la actividad humana y al evento meteorológico El Niño, que se espera este verano boreal. Si el mundo sobrepasa ese límite, los científicos resaltan que ese registro, aunque preocupante, sería probablemente temporal. Alcanzar ese umbral significaría que el mundo estaría 1,5 ºC más caliente que en la segunda mitad del siglo XIX, antes de que las emisiones de combustibles fósiles de la industrialización empezaran a aumentar.</p>
						</article>
					</div>
			</div>
			<div>
				<nav>
				<a href="../">Ⓡ3Care</a>
				</nav>
			</div>
		<!-- Scripts -->
			<script src="{% static '/js/jquery.min.js' %}"></script>
			<script src="{% static '/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static '/js/browser.min.js' %}"></script>
			<script src="{% static '/js/breakpoints.min.js' %}"></script>
			<script src="{% static '/js/util.js' %}"></script>
			<script src="{% static '/js/main.js' %}"></script>
	</body>
</html>